body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3vw;
    margin: 0;
    font-weight: normal;
}

/* Header */

header {
    margin: 0%;
    background-image: radial-gradient(circle at 50% 50%, white 20%, black 40%);
    height: auto;
}

header img {
    display: block;
    margin: auto;
    height: auto;
    width: 40vw;
}

/* Main */

/* Section: Versículo */

#versiculo {
    margin: 0%;
    padding: 0%;
    background-color: #eee;
    height: auto;
    padding: 3vw 2vw;
}

blockquote {
    text-align: center;
    font-size: 4vw;
    text-shadow: 2px 2px 5px #555;
}

blockquote span {
    font-size: 3vw;
}

/* Section: Galeria */

#galeria {
    background-color: #ccc;
    padding: 3vw 2vw;
    text-align: center;
}

#galeria div {
    display: flex;
    justify-content: space-around;
}

#galeria div img {
    width: 33%;
    border-radius: 25px 0;
}

/* Section: Contato */

#contato {
    background-color: #eee;
    text-align: center;
    padding: 3vw 2vw;
}

#contato div {
    display: flex;
    justify-content: center;
}

.endereco {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 25vw;
    font-size: 1.5vw;
}

iframe {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#contato form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    margin-left: 1vw;
    font-size: 1.5vw;
}

#contato form label, #contato form input, #contato form textarea {
    display: block;
}

.email {
    width: 98%;
    margin-bottom: .5vw;
}

textarea {
    width: 98%;
    height: 15vw;
}

.botao {
    margin: 1vw auto 0 auto;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    padding: 1vw 0;
}

footer p {
    margin: 0;
}

@media (max-width: 1023px) {

    header {
        margin: 0%;
        background-image: radial-gradient(circle at 50% 50%, white 60%, black 80%);
        height: auto;
    }

    header img {
        width: 90vw;
    }

    blockquote {
        font-size: 8vw;
    }

    blockquote span {
        font-size: 6vw;
    }

    #galeria div {
        flex-direction: column;
    }

    #galeria div img {
        width: 100%;
    }

    #galeria div img:nth-child(2) {
        margin: 1vw 0;
    }

    #contato div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .endereco {
        width: 50vw;
        height: 50vw;
    }

    #contato form {
        display: block;
        width: 50vw;
    }

    textarea {
        height: 25vw;
    }

    footer {
        font-size: 3vw;
        padding: 3vw 0;
    }
}