body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    margin: 0%;
    background-image: radial-gradient(circle at 50% 50%, white 20%, black 40%);
    height: auto;
}

header img {
    display: block;
    margin: auto;
    height: auto;
    width: 40vw;
}

/* Main */

/* Section: Versículo */

#versiculo {
    margin: 0%;
    padding: 0%;
    background-color: #eee;
    height: auto;
    padding: 3vw 2vw;
}

blockquote {
    text-align: center;
    font-size: 4vw;
    text-shadow: 2px 2px 5px #555;
}

blockquote span {
    font-size: 3vw;
}

/* Section: Galeria */

#galeria {
    background-color: #ccc;
    padding: 3vw 2vw;
    text-align: center;
}

#galeria h1 {
    font-weight: normal;
    font-size: 5vw;
    margin: 0;
}

#galeria h1 a {
    text-decoration: none;
    color: black;
}

#galeria div {
    display: flex;
    justify-content: space-around;
}

#galeria div img {
    width: 33%;
    border-radius: 25px 0;
}

/* Section: Contato */

#contato {
    background-color: #eee;
    text-align: center;
    padding: 3vw 2vw;
}

#contato h1 {
    font-size: 5vw;
    margin: 0;
    font-weight: normal;
}

#contato div {
    display: flex;
    justify-content: center;
}

.endereco {
    display: flex;
    flex-direction: column;
}

.menor {
    font-size: 2vw;
}

iframe {
    margin: 0;
    padding: 0;
    height: 23vw;
    width: 30vw;
    max-width: 300px;
}

#contato form {
    width: fit-content;
    margin-left: 1vw;
}

.email {
    width: 25vw;
    max-width: 300px;
    margin-bottom: .5vw;
}

textarea {
    height: 15vw;
    width: 30vw;
    max-width: 300px;
}

.botao {
    margin-top: 10px;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
}